/Avalonia/.idea/.idea.Avalonia/.idea/.gitignore
/Avalonia/.idea/.idea.Avalonia/.idea/avalonia.xml
/Avalonia/.idea/.idea.Avalonia/.idea/indexLayout.xml
/Avalonia/.idea/.idea.Avalonia/.idea/misc.xml
/Avalonia/.idea/.idea.Avalonia/.idea/projectSettingsUpdater.xml
/Avalonia/.idea/.idea.Avalonia/.idea/vcs.xml
/Avalonia/.idea/.idea.Avalonia/.idea/workspace.xml
/Avalonia/.idea/.idea.Avalonia/.idea/workspace-DESKTOP-IQV9M55.xml
/Avalonia/.idea/.idea.Avalonia/.idea/workspace-HenTMEndeavour.xml
/Avalonia/.idea/.idea.Avalonia/.idea/workspace-HenTMEndeavour-2.xml
/Avalonia/.idea/.idea.Avalonia/.idea/workspace-HenTMEndeavour-3.xml
